
.beau-section {
    padding: 60px 20px;
    text-align: center;
}

.beau-title {
    font-size: 32px;
    color: #c29076;
    margin-bottom: 40px;
    font-weight: 700;
}

.beau-grid {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.beau-card {
    width: 300px;
    text-align: center;
    font-family: "Segoe UI";
}

.beau-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.beau-photo {
    width: 220px !important;
    height: 220px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
    display: block;
    margin: 0 auto 15px auto;
}

.beau-name {
    font-size: 22px;
    margin-bottom: 10px;
    color: #897664;
    font-weight: 700;
}

.beau-card p {
    font-size: 15px;
    line-height: 1.5;
    color: #897664;
    margin-bottom: 10px;
}

.beau-info {
    margin-bottom: 15px;
    color: #444;
    font-style: italic;
}

.beau-fav {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.beaufav-btn {
    background-color: #d7a48f;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

.beaufav-btn:hover {
    background-color: #c38a73;
}
